<div class="row">
  <div class="col s12 m10">
     <div class="card white">
      <div class="card-content white">
        <p>
          <%= simple_format(blog.text) %>
        </p>
        <div class="card-action">
          <%= link_to 'SHOW', "blogs/#{blog.id}", class: 'btn' %>
          <% if user_signed_in? %>
            <%= link_to 'EDIT', "/blogs/#{blog.id}/edit", method: :get, class: 'btn' %>
            <%= link_to 'DESTROY', "/blogs/#{blog.id}", method: :delete, class: 'btn', data: {confirm: "本当に削除しますか？"} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
